@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Syne:wght@600;700&display=swap");

.App {
  display: grid;
  grid-template-rows: min-content auto;
  grid-template-columns: 250px auto;
  height: 100vh;
  overflow: scroll;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #16123f;
  color: white;
  grid-column: 1 / span 2;
  padding: 10px 5px;
  font-family: "Syne", sans-serif;
  font-weight: 700;
  font-size: 48px;
}

form {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

form input,
form textarea {
  margin-bottom: 10px;
  width: 300px;
}

nav,
article {
  height: 100%;
  padding: 10px;
}

nav {
  background-image: linear-gradient(to bottom right, #d5f2ca, #54e5c6e3);
  font-family: Syne, sans-serif;
  font-weight: 600;
}

nav p:hover {
  cursor: pointer;
}

article .date {
  font-style: italic;
  font-family: inter, sans-serif;
  font-weight: 500;
}

article .body {
  white-space: break-spaces;
  font-family: inter, sans-serif;
  font-weight: 400;
}

.error {
  background-color: red;
  color: gold;
  padding: 5px;
}

h2 {
  font-family: Syne, sans-serif;
  font-weight: 600;
  padding: 0px;
  margin: 0px;
}

.item {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #16123f;
  background-color: white;
}

.item:hover {
  background-color: #16123f;
  color: white;
  transition: 0.25s ease-in;
}

button {
  border-radius: 5px;
  border: 1px solid #16123f;
  background-color: white;
  font-family: Syne, sans-serif;
  font-size: 16px;
}

button:hover {
  border-radius: 5px;
  border: 1px solid #16123f;
  background-color: #ffe26a;
}

#warning {
  font-family: Syne, sans-serif;
  font-weight: 600;
  font-size: 150%;
  padding: 10px;
  margin: 10px;
}

article {
  padding: 10px;
  margin: 10px;
}

form {
  font-family: Syne, sans-serif;
  padding: 10px;
  margin: 10px;
}
