@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Syne:wght@600;700&display=swap");

.App {
  display: grid;
  grid-template-areas:
    "header header"
    "nav article";
  grid-template-rows: min-content auto;
  grid-template-columns: 20vw auto;
  height: 100vh;
  overflow: scroll;
}

h3 {
  font-family: Syne;
  color: #7d4972;
}

/* .about {
  grid-area: about;
  border-radius: indianred;
  padding: 10px;
  margin: 10px;
} */

#buttons {
  display: flex;
  flex-direction: row;
  word-wrap: break-word;
  justify-content: flex-end;
  text-align: right;
  width: 80%;
  float: right;
}

header {
  grid-area: header;
  background-color: #7d4972;
  color: white;
  font-family: "Syne", sans-serif;
  font-weight: 700;
  font-size: 48px;
  padding: 10px;
}

p,
h2 {
  /* border-radius: 5px;
  border: 1px solid #16123f; */
  padding: 10px;
  margin: 10px;
  /* background-color: rgb(255, 255, 255); */
}

form {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

form input,
form textarea {
  margin-bottom: 10px;
  width: 300px;
}

nav,
article {
  height: 100%;
}

nav {
  background-color: #bb70a5;
  font-family: "Syne", sans-serif;
  font-weight: 600;
  grid-area: nav;
}

nav p:hover {
  cursor: pointer;
}

article .date {
  font-family: "Montserrat", sans-serif;
}

article .body {
  white-space: break-spaces;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.5px;
  line-height: 20px;
}

.error {
  background-color: red;
  color: gold;
  padding: 5px;
}

h2 {
  font-family: Syne, sans-serif;
  font-weight: 600;
  color: #7d4972;
  /* text-align: center; */
}

.centered {
  text-align: center;
}

.item {
  margin: 10px;
  margin-right: 15px;
  padding: 10px;
  border-radius: 5px;
  color: white;
  border: 1.5px solid #f8e5e8;
  background-color: #7d4972;
  box-shadow: 5px 5px 0px 0px #f8e5e8;
  transition: 0.25s ease-in;
  word-wrap: break-word;
}

#username {
  font-size: 18px;
}

.item:hover,
button:hover {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
}

button {
  padding: 10px;
  margin: 10px;
  border: 1.5px solid #f8e5e8;
  background-color: #bb70a5;
  box-shadow: 5px 5px 0px 0px #f8e5e8;
  border-radius: 5px;
  font-family: Syne, sans-serif;
  font-size: 16px;
  color: white;
  transition: 0.25s ease-in;
}

#warning {
  font-family: Syne, sans-serif;
  font-weight: 600;
  font-size: 150%;
  padding: 10px;
  margin: 10px;
}

article {
  grid-area: article;
}

form {
  font-family: Syne, sans-serif;
  padding: 10px;
  margin: 10px;
}

section {
  background-color: white;
  padding: 10px;
  margin: 10px;
  border: 2px #7d4972 solid;
  border-radius: 5px;
  height: fit-content;
  word-wrap: break-word;
}

body {
  background-image: url("/src/images/img.jpg");
  background-size: cover;
}

form input,
form textarea {
  width: 80%;
  height: 25px;
  border-radius: 3.5px;
  border: 0px;
  outline: 2px #bb70a5 solid;
  padding: 5px;
  margin: 10px;
}

form input {
  font-family: "Syne", sans-serif;
}

form textarea {
  height: 50vh;
  font-family: "Montserrat", sans-serif;
}
form input:focus {
  outline: 2px #7d4972 solid;
}
