@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Syne:wght@600;700&display=swap");

.App {
  display: grid;
  grid-template-areas:
    "header header"
    "nav article";
  grid-template-rows: min-content auto;
  grid-template-columns: 20vw auto;
  height: 100vh;
}

.App,
section {
  overflow: scroll;
}

h2,
h3 {
  color: #7d4972;
}

h2,
h3,
#warning,
form,
header,
nav,
article .date,
button,
form input {
  font-family: "Syne", sans-serif;
}

header,
.error,
.item {
  background-color: #7d4972;
}

h3 {
  margin: 0px;
}

h3,
article .date {
  padding: 0px;
}

#buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: right;
  width: 80%;
  float: right;
}

header,
p,
h2,
form,
.item,
button,
#warning,
section {
  padding: 10px;
}

header {
  grid-area: header;
  color: #fdf5f6;
  font-weight: 700;
  font-size: 48px;
}

p,
h2,
button,
#warning,
form,
section,
form input,
form textarea,
.item {
  margin: 10px;
}

.error,
.item,
button,
section {
  border-radius: 5px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

form input,
form textarea {
  margin-bottom: 10px;
  width: 300px;
}

nav,
article {
  height: 100%;
}

nav {
  font-weight: 600;
  grid-area: nav;
}

nav p:hover {
  cursor: pointer;
}

article .date {
  color: #bb70a5;
  padding-left: 10px;
}

article .body,
form textarea {
  font-family: "Montserrat", sans-serif;
}

article .body {
  white-space: break-spaces;
  letter-spacing: 0.5px;
  line-height: 20px;
}

.error,
form input,
form textarea {
  padding: 5px;
}

section,
#buttons {
  word-wrap: break-word;
}

.error {
  color: yellow;
}

h2 {
  font-weight: 600;
}

.centered {
  text-align: center;
}

.item {
  margin-right: 15px;
  color: #fffefe;
  transition: 0.25s ease-in;
}

#username,
article .date {
  font-size: 18px;
}

.item:hover,
button:hover {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
}

button,
nav {
  background-color: #bb70a5;
}

.item,
button {
  box-shadow: 5px 5px 0px 0px #f8e5e8;
  border: 1.5px solid #f8e5e8;
}

button,
form input,
form textarea {
  font-size: 16px;
}

button {
  color: #fffefe;
  transition: 0.25s ease-in;
}

#warning {
  font-weight: 600;
  font-size: 150%;
}

article {
  grid-area: article;
}

section {
  background-color: #fffefed2;
  border: 2px #7d4972 solid;
  height: 82vh;
}

body {
  background-image: url("/src/images/img.jpg");
  background-size: cover;
}

form input,
form textarea {
  width: 97%;
  height: min-content;
  border-radius: 3.5px;
  border: 0px;
  outline: 2px #bb70a5 solid;
  background-color: #fffefe;
}

form textarea {
  height: 57vh;
}

form input:focus,
form textarea:focus {
  outline: 2px #7d4972 solid;
}
